.row
  .column.span9
    - if @public_posts.empty?
      no post
    - else
      - @public_posts.each do |post|
        .post
          %h2.title= post.title
          .content= post.content
          .published
            %span= post.published_at.to_s
            %span= post.user.email

  .column.span3
    %header.page-header
      %h2 Blog App
    - unless user_signed_in?
      Please
      = link_to "sign in", new_user_session_path
      to compose your blog entries.
    - else
      %p= link_to "Compose", my_posts_path, :class => "btn btn-primary"

