= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    %br
    = f.text_field :title

  .field
    = f.label :content
    %br
    = f.text_area :content

  .field
    = f.label :published
    %br
    = f.radio_button :published

  .actions
    = f.submit
