%h1 Listing Posts

%table
  %tr
    %th Title
    %th Content
    %th Public
    %th
    %th
    %th

- @posts.each do |post|
  %tr
    %td= post.title
    %td= post.content
    %td= post.published_at
    %td= link_to 'Show', post
    %td= link_to 'Edit', edit_post_path(post)
    %td= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete

%br

= link_to 'New Post', new_post_path
