%header.page-header
  %h2= @post.title

.row
  .span12.well
    = @post.content

.row
  .span12.well
    Published:
    - if @post.published
      = @post.published_at.to_s
    - else
      No

.row
  %p.span12
    = link_to 'Edit', edit_post_path(@post), :class => "btn"

.row
  %p.span12
    = link_to 'Back', posts_path
