<header class="page-header"><h2>Edit <%= resource_name.to_s.humanize %></h2></header>

<div class="row">
  <div class="span12">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "well" }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password, :autocomplete => "off" %>
      <span class="help-block">leave blank if you don't want to change it</span>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :current_password %>
      <%= f.password_field :current_password %>
      <span class="help-block">we need your current password to confirm your changes</span>

      <button type="submit" class="btn btn-primary">Update</button>
    <% end %>
  </div>
</div>

<h3>Cancel my account</h3>

<div class="row">
  <div class="span12">
    Unhappy?
    <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.
  </div>
</div>

<br/>

<div class="row">
  <div class="span12">
    <%= link_to "Back", :back %>
  </div>
</div>
