<header class="page-header"><h2>Change your password</h2></header>

<div class="row">
  <div class="span12">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "well" }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <%= f.label :password, "New password" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation %>

      <br/>
      <button type="submit" class="btn btn-primary">Change my password</button>
    <% end %>

    <%= render "links" %>
  </div>
</div>
