!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %title Bestmix
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "bootstrap-responsive.css", :media => "all"
    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          - if user_signed_in?
            %button.btn.btn-navbar{ :type => "button", "data-toggle" => "collapse", "data-target" => ".nav-collapse" }
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          = link_to "Bestmix", "/", :class => "brand"
          %ul.nav.pull-right
            - if user_signed_in?
              %li= link_to '@' + current_user.email.sub(/@.*\Z/, ''), "/users/edit"
              %li= link_to "Sign out", "/users/sign_out", :method => :delete
            - else
              %li= link_to "Sign in", "/users/sign_in"
              %li= link_to "Sign up", "/users/sign_up"
          - if user_signed_in?
            .nav-collapse.collapse
              %ul.nav.pull-right
                %li= link_to "Home", "/"
                %li= link_to "My Posts", "/my_posts"
                %li= link_to "Apps", "/oauth/authorized_applications"
    .container
      .row
        - flash.each do |key, message|
          .span12
            .alert.alert-block{ :class => key }
              %a.close{ :href => "#", "data-dismiss" => "alert" } &times;
              = message
      = yield
