<header class="page-header"><h2>Sign in</h2></header>

<div class="row">
  <div class="span12">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "well" }) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <% if devise_mapping.rememberable? -%>
        <label class="checkbox" for="user_remember_me">
          <%= f.check_box :remember_me %> Remember me
        </label>
      <% end -%>

      <button type="submit" class="btn btn-primary">Sign in</button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => "btn btn-primary" %>
  </div>
</div>

<br/>

<div class="row">
  <div class="span12">
    <%= render "links" %>
  </div>
</div>
