%h1 Listing tasks

%table
  %tr
    %th Name
    %th Public
    %th
    %th
    %th

- @tasks.each do |task|
  %tr
    %td= task.name
    %td= task.public
    %td= link_to 'Show', task
    %td= link_to 'Edit', edit_task_path(task)
    %td= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete

%br

= link_to 'New Task', new_task_path
