.row
  .span12
    = form_for(@post, :url => (@post.id ? my_post_path(@post) : my_posts_path), :html => { :class => "well" }) do |f|
      - if @post.errors.any?
        #error_explanation
          %h2
            = pluralize(@post.errors.count, "error")
            prohibited this post from being saved:
          %ul
            - @post.errors.full_messages.each do |msg|
              %li= msg

      = f.label :title
      = f.text_field :title, :style => "width: 99%;"

      = f.label :content
      = f.text_area :content, :style => "width: 99%;"

      %label.checkbox{ :for => "post_publish" }
        - @post.publish = @post.published if @post.publish.nil?
        - @post.publish = true unless @post.created_at
        = f.check_box :publish
        Publish

      %button{ :type => "submit", :class => "btn" } Save
